@import "reset";

.calculator {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    &__title {
        margin-bottom: 30px;
        text-align: center;
        font-size: 36px;
    }
    &__container {
        width: 300px;
        margin: 0 auto;
        border-radius: 20px;
        border: 1px solid red;
    }
}

.screen {
    padding: 30px 20px;
    border: 1px solid grey;
    border-radius: 14px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    box-shadow: -10px 10px 10px grey;
    place-content: end;
    gap: 10px;
    &__input {
        font-size: 24px;
    }
    &__result {
        font-size: 20px;
    }
}

.operation {
    padding: 30px 20px;
    border: 1px solid grey;
    border-radius: 14px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    &__button {
        text-align: center; 
        padding: 10px 0;
        border: 1px solid grey;
        border-radius: 20px;
        &--zero {
            grid-column: 1 / 3;
        }
    }
}
